html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
/*home page*/
/*header*/
.nav-list-buttons{
    max-width: 800px;
    min-width: 790px;
    height: 50px;
    padding-left: 150px;
}
.home-icon{
    width: 50px;
    height: 50px;
}
.nav-item{
    font-size: 20px;
    cursor: pointer;
}
/*body*/
.info-titles{
    text-align: center;
    color: darkred;
    font-family: "Great Vibes", cursive;
    font-size: 165px;
    line-height: 160px;
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
}
.info-subtitle{
    font-size: 70px;
}
.info-container{
    height: 550px;
    background-color: burlywood;
    background-image: url("../images/info-background-photo.jpg");
}
.info-help{
    font-size: 40px;
    background-color: darkgray;
    border-bottom: 1px solid darkred;
    animation: animation 10s infinite;
}
.info-help-text{
    border-bottom: 2px solid darkred;
}
/*footer*/
.footer-description{
    color: darkred;
    text-shadow: 0 1px 1px black;
    font-size: 20px;
    font-family: "MS Gothic", serif;
    width: 700px;
}
.footer-container{
    display: flex;
    font-size: 16px;
    height: 150px;
    color: darkred;
    background-color: darkgray;
}
.footer-rights{
    padding-left: 250px;
    padding-top: 15px;
}
.footer-logo-container{
    width: 100px;
    height: 80px;
}
.footer-logo{
    padding-left: 10px;
    padding-top: 10px;
    width: 90px;
    height: 70px;
}
/*upload-photo*/
.holder {
    height: 300px;
    width: 300px;
    border: 2px solid black;
}
.upload-img {
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
}
.upload-input[type="file"] {
    margin-top: 5px;
}
input::-webkit-file-upload-button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    cursor: pointer;
}
input::-webkit-file-upload-button:hover{
    color: #fff;
    background-color: blue;
    border-color: blue;
}

@keyframes animation {
    0% {background-color: darkgray;}
    25%{background-color: aquamarine;}
    50%{background-color: coral;}
    75%{background-color: greenyellow;}
    100% {background-color: darkgray;}
}
/*produse page*/
.cards {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-right: 40px;
}
.cards-item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 1rem;
}
.card {
    max-width: 1080px;
    max-height: 720px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 10px;
}
.card-content {
    max-width: 1080px;
    max-height: 720px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
.card-image {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}
.card-title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-text {
    max-width: 300px;
    max-height: 300px;
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
.vizualizeaza-modal-img{
    max-width: 450px;
}
/* login page */
@import url('https://fonts.googleapis.com/css?family=Numans');

.login-body{
background-image: url('https://wallpapercave.com/wp/wp6339579.jpg');
background-size: cover;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
}
.login-container{
    height: 100%;
    align-content: center;
}
.login-card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.login-card-header{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.login-input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login-btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login-btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links{
margin-left: 4px;
}
/* logout button*/
.logout-button{
    padding-left: 20px;
}
.item-container{
    border-bottom: 1px ridge gray;
    text-align: center;
}
.item-status{
    height: 52px;
    width: 106px;
    border: none;
    text-align: unset;
}
.item-date{
    width: 175px;
    height: 52px;
    border: none;
    text-align: unset;
}
.btn-group-item{
    margin-top: 10px;
}
/* download image */
.download-img-btn{
    padding-right: 350px;
}
/* user account */
.user-account{
    color: white;
    font-size: small;
    border-bottom: 1px solid white;
    margin-bottom: 10px ;
}
.user-account:hover{
    color: darkred;
    border-bottom: 1px solid darkred;
}